<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="demoApp" ng-controller="mainController">
      <form ng-submit="addUser()">
        <input type="text" ng-model="newUser.firstName" placeholder="Add your first name...">
        <input type="text" ng-model="newUser.lastName" placeholder="Add your last name...">
        <button type="submit">Add family member</button>
      </form>
      <div ng-repeat="user in users">
        <say-hello message="Hi"></say-hello>
      </div>
    </div>

    <script>
    var demoApp = angular.module("demoApp", []);

    demoApp.controller("mainController", function($scope, userService) {
      $scope.users = userService.users();
      $scope.newUser = {};
      $scope.addUser = function(){
        userService.add($scope.newUser);
        $scope.newUser = {};
      }
    });

    demoApp.service('userService', function(){
      var collection = [
        {firstName: 'Leia-Kahlan', lastName: 'Mollerstrom'},
        {firstName: 'Mileydis', lastName: 'Mollerstrom'},
        {firstName: 'Max', lastName: 'Mollerstrom'}
      ];
      return {
        users: function(){
          return collection;
        },
        add: function(object){
          collection.push(object);
        }
      }
    });

    demoApp.directive("sayHello", function() {
      return {
        scope: false,
        link: function($scope, element, attrs){
          $scope.message = attrs.message;
        },
        template: "<h1> {{[message, user.firstName, user.lastName].join(' ')}}!</h1>"
      };
    });
    </script>

  </body>
</html>
